body {
    font: 13px/1.5 Helvetica, sans-serif;
    background: #fff;
}

.container {
    padding-top: 20px;
    width: 400px;
    min-width: 480px;
    margin: auto;
}

.mdc-btn {
    min-width: 88px;
    height: 36px;
    padding: 0 16px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #9f40ff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(65, 65, 65, 0.3);
}
.mdc-btn:hover {
    background-color: #692fa2;
}
.mdc-btn:active {
    box-shadow: 0 6px 4px 0 rgba(65, 65, 65, 0.3);
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(65, 65, 65, 0.2);
}

.search-form input {
    margin-right: 12px;
    padding: 4px;
    outline: 0;
    border: 0;
    color: #9f40ff;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 2px solid #9f40ff;
}
.search-form input::placeholder {
    color: #616161;
}
.divider
{
    position: relative;
    margin-top: 5px;
    height: 1px;
}

.div-transparent:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 0.5px;
    background-image: linear-gradient(to right, transparent, rgba(65, 65, 65, 0.2), transparent);
}

.list{
    width: 100%;
    margin-top: 10%;
}

ol {
    color: #ccc;
    list-style-type: none;
}

ol li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 10px;
    text-decoration: none;
}

li p {
    font: 12px/1.5 Helvetica, sans-serif;
    padding-left: 6px;
    color: #555;
    text-align: left;
}

span {
    position: absolute;
}